# Redis connection URL
REDIS_URL=redis://127.0.0.1:6379/0

# Redis streams
ORDERS_STREAM=orders_stream
TRADES_STREAM=trades_stream

# Consumer groups and consumers
ORDERS_GROUP=order_matcher
ORDERS_CONSUMER=order_matcher1
TRADE_GROUP=trade_fetcher
TRADE_CONSUMER=trade_fetcher1